[submodule "anchor_whitelist_transfer_hooks"]
	path = anchor_whitelist_transfer_hooks
	url = git@github.com:inspi-writer001/whitelist-transfer-hook.git
[submodule "escow_litesvm_test"]
	path = escow_litesvm_test
	url = git@github.com:inspi-writer001/escrow-litesvm.git
[submodule "magicblock-er-vrf"]
	path = magicblock-er-vrf
	url = git@github.com:inspi-writer001/magicblock-er-example.git
[submodule "transfer-hooks-challenge"]
	path = transfer-hooks-challenge
	url = git@github.com:inspi-writer001/week-1-test.git
[submodule "solana-pinocchio-starter"]
	path = solana-pinocchio-starter
	url = git@github.com:inspi-writer001/solana-pinocchio-starter.git
[submodule "pinocchio-escrow"]
	path = pinocchio-escrow
	url = https://github.com/inspi-writer001/pinocchio-escrow.git
[submodule "pinocchio-fundraiser"]
	path = pinocchio-fundraiser
	url = https://github.com/inspi-writer001/pinocchio-fundraiser.git
[submodule "mojo"]
	path = mojo
	url = https://github.com/Turbin3/accel-Mojo.git
